<table class="album_obj">
<tr>
  <td class="albumart">
    <% if album.albumart_id -%>
      <img alt="" src="<%= image_url(:id => album.albumart_id) -%>"/>
    <% else -%>
      <table class="none"><tr><td>
        Album cover not available.
      </td></tr></table>
    <% end -%>
  </td>
  <td class="details">
    <div class="artist"><%= album.artist.name -%></div>
    <div class="album"><%= album.name -%><%= %! <span dir="ltr" class="year">(#{album.year})</span>! if album.year -%></div>
    <%= render :partial => 'discs', :object => album.discs %>
  </td>
</tr>
</table>
