<h1>Stats#index</h1>

<table>
  <%= stat_row 'Files', format(@stats[:files]) %>
  <%= stat_row 'Size', format_bytes(@stats[:filesize]) %>
  <%= stat_row 'Songs', format(@stats[:songs]) %>
  <%= stat_row 'Artists', format(@stats[:artists]) %>
  <%= stat_row 'Albums', format(@stats[:albums]) %>
  <%= stat_row 'CDs', format(@stats[:cds]) %>
  <%= stat_row 'Tracks', format(@stats[:tracks]) %>
  <%= stat_row 'Length', @stats[:length] %>
  <%= stat_row 'Average Length', @stats[:avg_length] %>
  <%= stat_row 'Average File Size', @stats[:avg_filesize] %>
  <%= stat_row 'Average Bitrate', @stats[:avg_bitrate].to_i %>
  <%= stat_row 'Average Albums per Artist', @stats[:avg_albums_p_artist] %>
  <%= stat_row 'Average Tracks per Artist', @stats[:avg_tracks_p_artist] %>
  <%= stat_row 'Average Tracks per CD', @stats[:avg_tracks_p_cd] %>
</table>