<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ASTACUS</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'sidebar' %>
  <%= stylesheet_link_tag @controller.controller_name %>
  <%= csrf_meta_tag %>
</head>
<body>

<table id="page_container"><tr>
  <td id="left">
  <div><%= link_to 'HOME', root_url -%></div>
  <% unless params[:controller] == 'search' %>
    <div><%= link_to 'SEARCH', search_url(@sq.params) %></div>
  <% end -%>
  <% unless params[:controller] == 'stats' %>
    <div><%= link_to 'STATS', stats_url(@sq.params) %></div>
  <% end -%>
  <br/><br/>
  <%= render :partial => 'home/login_or_logout' %>
  <br/><br/>

    <%= render :partial => 'search/search_query_form' %>

    <div>Page generated in %RESPONSE_TIME%.</div>
    <div>Your IP address is <%= request.remote_ip %></div>
  </td>
  <td id="body_outer">
    <table id="body_inner_table"><tr><td id="body_inner_cell">
    <%= yield %>
    </td></tr></table>
  </td>
</tr></table>

</body>
</html>
